{% extends 'base.php' %}


{% block content %}

<h2>Enter Credit Card Details</h2>
<form method="post" action="{% url 'credit_card_payment' %}">
    {% csrf_token %}
    <label>Card Number:</label>
    <input type="text" name="card_number" required><br><br>
    
    <label>CVV:</label>
    <input type="text" name="cvv" required><br><br>
    
    <label>Expiry (YYYY-MM):</label>
    <input type="text" name="expiry" placeholder="YYYY-MM" required><br><br>
    
    <button type="submit">Pay Now</button>
</form>

{% endblock %}