{% extends 'base.php' %}
 {% block content %}

 <div class="invoice">

    <h1>GreatKart</h1>

    <div class="order-info">
      <p><strong>Order:</strong> 2025041172</p>
      <p><strong>Transaction ID:</strong> 4BP3181986311532T</p>
      <p><strong>Order Date:</strong> April 11, 2025, 2:52 p.m.</p>
      <p><strong>Status:</strong> COMPLETED</p>
    </div>

    <table>
      <thead>
        <tr>
          <th>Products</th>
          <th>Qty</th>
          <th class="text-right">Total</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>ATX Jeans</td>
          <td>1</td>
          <td class="text-right">$199.0USD</td>
        </tr>
        <tr>
          <td>Color : Red</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Size : Small</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td>Sub Total:</td>
          <td class="text-right">$199.0 USD</td>
        </tr>
        <tr>
          <td></td>
          <td>Tax:</td>
          <td class="text-right">$3.98 USD</td>
        </tr>
        <tr class="total-row">
          <td></td>
          <td>Grand Total:</td>
          <td class="text-right">$202.98 USD</td>
        </tr>
      </tbody>
    </table>

    <div class="thank-you">
      <p>Thank you for shopping with us!</p>
    </div>

    <hr />

    <div class="billing-address">
      <h2>Invoiced To</h2>
      <p>
        Ravi Yadav<br />
        VKG Nagar Test World<br />
        Delhi, New Delhi<br />
        India
      </p>
    </div>

</div>

{% endblock %}
